*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #212529;

}
img {
    width: 100%;
    height: auto;
}
a:hover {
    text-decoration: none;
}
.content {
    margin: 50px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}
#form > div {
    margin-bottom: 1rem;
}
.row {margin-bottom: 20px;}

button[type="submit"] {
    margin-top: 15px;
}